<h1>この掲示板について</h1>
<h3>スプラトゥーン３を一緒にプレイできるお友達が欲しい！！でも、見知らぬ人にフレンドコードを教えるのは怖い…</h3>
安心してください！フレンドコードを教える必要はありません。
この掲示板では、ゲーム内で設定できる「チャンネル機能」を使用してマッチングを行います！
多くのスプラユーザーにぜひ使っていただきたいです。
<h3>掲示板を作成しよう！</h3>
まずは掲示板を作成しましょう！
既存の掲示板で趣旨に合うものがあればその中でコメントを投稿したり、募集をかけることも可能です。
<h3>コメントをしよう！</h3>
コメントを投稿できます。他のユーザーとコミュニケーションを取ったり、
ステージやゲームモードごとに戦法を話し合うような場にしても楽しそう！
<h3>募集をしよう！</h3>
ゲームモードやチャンネル名を指定して一緒に遊べるプレイヤーを募集しましょう！
チャンネル名については、募集者がリクエスト申請を許可したユーザーにのみ表示されます。
<h3>募集に参加しよう！</h3>
募集の詳細表示画面から、リクエスト申請を送信することができます。
申請が許可されると、募集者が指定したチャンネル名が表示されます。
ゲーム内でチャンネルに参加して早速プレイしましょう！！
<h3>チャンネル機能の使用方法については<%= link_to 'こちら', how_to_channel_path %>をご覧ください。</h3>