<h1>リクエスト一覧</h1>
<!-- ここで申請待ちリクエスト、申請承認リクエストを確認できる -->
<!-- 認証待ちリクエスト一覧 -->
<% if @board && @game_recruitment %>? %>
  render 'requests/show'
<% else %>
	認証待ちリクエストはありません。
<% end %>

<!-- 今後、認証待ちリクエストで許可されたリクエストを非表示か削除するように仕様変更する -->