<h1>チャンネル使用方法</h1>

<h2>フレンドでなくても一緒に遊べる機能</h2>
<p>
  チャンネル機能を使うとフレンドでないユーザーとも遊ぶことができる。<br>
  ロビーやクマサン商会で同じ合言葉を入力すると、プライベートマッチやサーモンラン、ナワバトラーを一緒に遊ぶことができる。
</p>

<h2>チャンネルを作るためには…</h2>
<p>
  手順１：ロビーメニューを開く<br>
  手順２：LボタンかRボタンで通知リストを開き、
  +ボタンを押した後に任意のチャンネル名（合言葉）を入力することで参加できる。<br>
  (入力可能な文字は、ひらがな・カタカナ・英数字・一部記号。
  文字数制限は32文字まで。
  数字から始まる合言葉は使用できない。)<br>
  手順３：+ボタンを押した後にチャンネル名（合言葉）を入力することで参加できる。<br>
  チャンネルを抜けたい場合も通知タブから抜けることができる。<br>
  チャンネル名入力時と同じく+ボタンを押し「抜ける」を選ぶとチャンネルから抜けることができる。
</p>

