<!-- 掲示板一覧 タイトルのみリスト表示 -->
<% provide(:title, 'All boards') %>
<h1 class="title-with-image">掲示板一覧</h1>
<!-- 掲示板タイトル・作成日時を一覧で表示 -->
<div class="board-lists">
  <% @boards.each do |board| %>
    <div class="board-list">
      <li>
        <%= link_to board.title, board %>
        <span class="timestamp">
          <%= time_ago_in_words(board.created_at) %>前に作成
        </span>
      </li>
    </div>
  <% end %>
</div>

<!-- ログイン済みユーザーのみ新規掲示板作成が可能になる -->
<% if logged_in? %>
  <div class="board-new">
    <%= link_to "新規掲示板作成", new_board_path %>
  </div>
<% else %>
<%= link_to "ログイン", login_path %>することで新規掲示板の作成が可能になります。
<% end %>
