<footer class="footer">
  <div class="background-image-left"></div>
  <div class="footer-content">
    <small>                  </small>
    <nav>
      <ul>
        <li><%= link_to "チャンネル機能の使用方法",  how_to_channel_path %></li>
        <li><%= link_to "お問い合わせ", contact_path %></li>
      </ul>
    </nav>
  </div>
  <div class="background-image-right"></div>
</footer>
